# Backend
APP_ENV=development
PORT=3000

# Database 
DB_HOST=postgres # or localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=syncrow
DB_SSL=false

# JWT 
JWT_ACCESS_TOKEN_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7